/* @media (min-width: 1200px) {
  .container {
    max-width: 850px;
  }
} */

a {
  text-decoration: none;
}

.ch-container .ch-subdomain-text, .ch-container .ch-domain-text {
  fill: #000;
  font-size: 14px;
}
